::-webkit-scrollbar
{
  width: 2px;  /* for vertical scrollbars */
  height: 2px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}


  /*background-color: #f8f8f8; 
  height:100%;*/
html, body {
    height:100%;
    width:100%;
    position:relative;
    margin:0;
    padding:0;
    background: rgba(0, 0, 0, 0.5);
    color:white;
}
texteare, input, pre{
 color:yellow;
 background-color:black;  
}
.my_message{
  color:red;
} 
.not-my-message{
  color:green;
}
.msg-readed{
  background: rgba(0, 0, 0, 0.5);
}
.msg-not-readed{
  background: rgba(100, 0, 0, 0.5);
}
.msg-not-readed pre{
  background: rgba(100, 0, 0, 0.5);
}
.fill_height{
  height:80%;
  
  overflow:scroll;
}

.chat-li{
  cursor:pointer;
  font-size:2em;
}
.chat-li:hover{
 color:yellow;
}

.chat-counter{
  color:#A9A9A9;
}
.chat-counter:hover{
  color:yellow;
}

.chat-message{
  cursor:pointer;
  background: rgba(100, 100, 100, 0.7);
  margin:15px;
  padding:15px;
  border-radius: 5px;
  font-size:1.5em;
}
.chat-button{
  cursor:pointer;
  color:#A9A9A9;
  border:1px solid #A9A9A9;
  border-radius: 5px;
  padding:5px;
  margin:15px;
  text-align:center;
  /*font-size:1.5em;*/
  width:100%;
  background: rgba(10, 10, 10, 0.7);
}

.btn-chat:hover{
  color:yellow;
  border:1px solid yellow;
}
#out-messages{
  width:300px;
  height:200px;
  background-color: #79b7e7;
  left:1560px;
  top:250px;
  position:absolute;
}